<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.robot.tuling.videomodule">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 硬件支持 -->
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.CAMERA">
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO">
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <!-- android:theme="@style/Theme.AppCompat.NoActionBar"> -->
        <activity
            android:name=".View.MediaActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="Video.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path"/>
        </provider>

        <activity android:name=".View.CameraActivity">
        </activity>
        <activity android:name=".View.VideoActivity">
        </activity>
        <activity android:name=".View.MusicActivity">
        </activity>

        <service android:name=".Service.PlayService">
        </service>

        <activity android:name=".View.PhotosActivity">
        </activity>
        <activity android:name=".View.PhotoAlbumActivity">
        </activity>
        <activity android:name=".View.VideoAlbumActivity">
        </activity>
        <activity
            android:name=".View.VideoPlayerActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".View.MovieAlbumActivity">
        </activity>
        <activity android:name=".View.EducationActivity">
        </activity>
    </application>

</manifest>